.loginWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginContainer {
  min-width: 40rem;
  height: fit-content;
  background-color: var(--surface-page);
  color: var(--text-primary);
  border-radius: 0.6rem;
  box-shadow: 0 0.8rem 3.2rem rgba(0, 0, 0, 0.2);
  margin: 2rem;
  padding: 0 2rem;
}

.loginForm {
}
.loginForm > button {
  display: flex;
  justify-self: flex-end;
}
.loginForm > button > .buttonContent {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  padding: 1rem;
}
.loginForm > button > .buttonContent > svg {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.signUp {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.3rem;
  color: var(--text-secondary);
}
.signUp > a {
  font-weight: 700;
  color: var(--action-primary);
  text-decoration: none;
}
.signUp > a:hover {
  color: var(--action-primary);
  text-decoration-color: var(--action-primary);
  text-decoration: underline;
}

.privacyNote {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.1rem;
  color: var(--text-secondary);
}
.privacyNote > a {
  color: var(--text-secondary);
  text-decoration: underline;
}
.privacyNote > a:hover {
  color: var(--text-primary);
}
