:root {
  --mine-shaft: #292929;
  --dorado: #5f5f5f;
  --gray: #949494;
  --silver: #c5c5c5;
  --alto: #dedede;
  --wild-sand: #f6f6f6;
  --white: #ffffff;
  --cinnabar: #df2827;
  --blue-ribbon: #0070f3;

  /*  
  * Phase the below out and assign the above to
  * sensibly named vars (eg. --scrollbar-track-colour)
  */
  --black: var(--mine-shaft);
  --mid-grey: var(--gray);
  --off-white: var(--wild-sand);
  /* --white: var(--white); */
  --red: var(--cinnabar);
  --blue: var(--blue-ribbon);
}
