::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--surface-page);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--surface-page);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 2px var(--surface-page);
  background-color: var(--action-danger);
}
