/* <GroupItem> Component */

.groupItem {
  width: auto;
  list-style-type: none;
  padding: 0;

  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  grid-template-columns: 5rem 1fr 30rem;
  grid-template-rows: min-content 2rem min-content;
  gap: 0em 0em;
  grid-template-areas:
    "GroupItem_Handle GroupItem_Title GroupItem_Buttons"
    "GroupItem_Handle GroupItem_Uri GroupItem_Buttons"
    "GroupItem_ArticleList GroupItem_ArticleList GroupItem_ArticleList ";

  border: 0.2rem solid var(--black);
  border-radius: 1.2rem;
  background: var(--mid-grey);
}
.handleContainer {
  grid-area: GroupItem_Handle;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}
.titleContainer {
  grid-area: GroupItem_Title;
}
.title {
  margin-left: 1rem;
  font-size: 3rem;
}
.slug {
}

.uriContainer {
  grid-area: GroupItem_Uri;
}
.uri {
  font-family: monospace;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.buttonsContainer {
  grid-area: GroupItem_Buttons;
}

.groupArticlesContainer {
  grid-area: GroupItem_ArticleList;
}
.groupArticlesList {
  width: auto;
  min-height: 8rem;
  border: 0.2rem solid var(--black);
  border-radius: 0.8rem;
  margin: 1rem;
  padding: 0.2rem;

  background: var(--white);
}
