/* <GroupItem> Component */

.groupItem_root {
  --groupItem_root-background-colour: var(--alto);

  width: auto;
  list-style-type: none;
  padding: 0;

  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: auto auto;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  gap: 0em 0em;
  grid-template-areas:
    "GroupItem_root_Heading"
    "GroupItem_ArticleList ";

  border: 0.2rem solid var(--black);
  border-radius: 1.2rem;
  background: var(--groupItem_root-background-colour);
}
.titleContainer_root {
  grid-area: GroupItem_root_Heading;
  padding: 0 0 0 1rem;
}

.groupItem {
  --groupItem-background-colour: var(--alto);

  width: auto;
  list-style-type: none;
  padding: 0;

  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  grid-template-columns: 5rem 1fr 30rem;
  grid-template-rows: min-content min-content min-content;
  gap: 0em 0em;
  grid-template-areas:
    "GroupItem_Handle GroupItem_Title GroupItem_Buttons"
    "GroupItem_Handle GroupItem_Uri GroupItem_Buttons"
    "GroupItem_ArticleList GroupItem_ArticleList GroupItem_ArticleList ";

  border: 0.2rem solid var(--black);
  border-radius: 1.2rem;
  background: var(--groupItem-background-colour);
}
.handleContainer {
  grid-area: GroupItem_Handle;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}
.titleContainer {
  grid-area: GroupItem_Title;

  display: flex;
  align-items: center;
}
.title {
  margin: 0;
  font-size: 3rem;
}
.slug {
  --slug-background-colour: var(--gray);
  --slug-text-colour: var(--white);

  font-family: monospace;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.3rem 0.6rem;
  border-radius: 0.4rem;
  background: var(--slug-background-colour);
  color: var(--slug-text-colour);
}

.middleContainer {
  grid-area: GroupItem_Uri;
}

.buttonsContainer {
  grid-area: GroupItem_Buttons;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
}
.deleteGroupButton > svg {
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
}

.groupArticlesContainer {
  grid-area: GroupItem_ArticleList;
}
.groupArticlesList {
  width: auto;
  min-height: 6rem;
  border-radius: 0.8rem;
  margin: 0 1rem 1rem 1rem;
  padding: 0.2rem;

  border: 0.2rem solid var(--black);
  background: var(--white);

  display: flex;
  gap: 0.2rem 0;
  flex-direction: column;
}

.dropZone {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 6rem;
  color: var(--mid-grey);
  font-size: 1.4rem;
  border: 0.2rem dashed var(--mid-grey);
  border-radius: 0.6rem;
  margin: 0.4rem;
}

.dropZoneOver {
  border-color: var(--black);
  background: var(--mid-grey);
  color: var(--white);
}
