.pill {
  display: inline-block;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem;
  color: var(--white);
  white-space: nowrap;
}

.default {
  background: var(--surface-neutral);
}

.primary {
  background: var(--action-primary);
}

.secondary {
  background: transparent;
  color: var(--action-primary);
  border: 0.1rem solid var(--action-primary);
}

.danger {
  background: var(--action-danger);
}
