/* Variables */
:root {
  --danger-background-colour: var(--cinnabar);
  --secondary-background-colour: var(--white);
  --secondary-text-colour: var(--blue-ribbon);
}

/* TOOLTIP STYLES*/

.anchoredElement {
}
.tooltipElement {
  position: fixed;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.1s 0.2s ease-in-out;
}
.anchoredElement:hover + .tooltipElement {
  opacity: 1;
}

/* TOOLTIP BUBBLE (optional decorative component to be used 
   as a child of  Tooltip 'anchorContent' prop. 
*/
.tooltipBubble {
  position: relative;
  border-radius: 0.4rem;
  padding: 1rem;
  margin: 1.2rem;
  font-size: 1.2rem;
  text-align: center;
}
.tooltipBubble.primaryVariant {
  background: var(--blue);
  color: var(--white);
}
.tooltipBubble.secondaryVariant {
  background: var(--white);
  color: var(--blue);
}
.tooltipBubble.dangerVariant {
  background: var(--danger-background-colour);
  color: var(--white);
}
/* note - these top, left, bottom, right classnames refer 
   to the location of the speech bubble triangle
*/
.tooltipBubble.top:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: var(--blue);
  border-top: 0;
  margin-left: -10px;
  margin-top: -10px;
}
.tooltipBubble.right:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: var(--blue);
  border-right: 0;
  margin-top: -10px;
  margin-right: -10px;
}
.tooltipBubble.bottom:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--blue);
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}

.tooltipBubble.left:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: var(--blue);
  border-left: 0;
  margin-top: -10px;
  margin-left: -10px;
}

.tooltipBubble.topRight:after {
  content: "";
  position: absolute;
  top: 0;
  left: 90%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: var(--blue);
  border-top: 0;
  border-right: 0;
  margin-left: -10px;
  margin-top: -10px;
}
.tooltipBubble.topLeft:after {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: var(--blue);
  border-top: 0;
  border-left: 0;
  margin-left: -5px;
  margin-top: -10px;
}

.tooltipBubble.bottomLeft:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--blue);
  border-bottom: 0;
  border-left: 0;
  margin-left: -5px;
  margin-bottom: -10px;
}
.tooltipBubble.bottomRight:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 90%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--blue);
  border-bottom: 0;
  border-right: 0;
  margin-left: -5px;
  margin-bottom: -10px;
}

/* VARIANT MODIFIERS */
/* tooltipBubble secondary VARIANT */
.tooltipBubble.top.secondaryVariant:after {
  border-bottom-color: var(--secondary-background-colour);
}
.tooltipBubble.right.dangerVariant:after {
  border-left-color: var(--secondary-background-colour);
}
.tooltipBubble.bottom.dangerVariant:after {
  border-top-color: var(--secondary-background-colour);
}
.tooltipBubble.left.dangerVariant:after {
  border-right-color: var(--secondary-background-colour);
}
.tooltipBubble.topRight.dangerVariant:after {
  border-bottom-color: var(--secondary-background-colour);
}
.tooltipBubble.topLeft.dangerVariant:after {
  border-bottom-color: var(--secondary-background-colour);
}
.tooltipBubble.bottomLeft.dangerVariant:after {
  border-top-color: var(--secondary-background-colour);
}
.tooltipBubble.bottomRight.dangerVariant:after {
  border-top-color: var(--secondary-background-colour);
}

/* tooltipBubble DANGER VARIANT */
.tooltipBubble.top.dangerVariant:after {
  border-bottom-color: var(--danger-background-colour);
}
.tooltipBubble.right.dangerVariant:after {
  border-left-color: var(--danger-background-colour);
}
.tooltipBubble.bottom.dangerVariant:after {
  border-top-color: var(--danger-background-colour);
}
.tooltipBubble.left.dangerVariant:after {
  border-right-color: var(--danger-background-colour);
}
.tooltipBubble.topRight.dangerVariant:after {
  border-bottom-color: var(--danger-background-colour);
}
.tooltipBubble.topLeft.dangerVariant:after {
  border-bottom-color: var(--danger-background-colour);
}
.tooltipBubble.bottomLeft.dangerVariant:after {
  border-top-color: var(--danger-background-colour);
}
.tooltipBubble.bottomRight.dangerVariant:after {
  border-top-color: var(--danger-background-colour);
}
