.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--heading-icon-background);
  border: 0.2rem solid var(--heading-icon-border);
  border-radius: 50%;
  flex-shrink: 0;
}

.small {
  height: 3rem;
  width: 3rem;
  padding: 0.4rem;
}

.large {
  height: 6rem;
  width: 6rem;
  padding: 0.75rem;
}
