.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue-ribbon);
  border: 0.2rem solid var(--border-color);
  border-radius: 50%;
  flex-shrink: 0;
}

.small {
  height: 3rem;
  width: 3rem;
  padding: 0.4rem;
}

.large {
  height: 6rem;
  width: 6rem;
  padding: 0.75rem;
}

/* ── DARK MODIFIERS ────────────────────────────────────────────────────────────── */

[data-theme="dark"] {
  .badge {
    background: var(--flamingo);
    border: 0.2rem solid var(--white);
  }
}
